[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
pymysql = "*"
django-environ = "*"
django-requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
